/* div #main{
  display:flex;
  gap:20px;
  flex-direction:column;
  padding:2px;
}
div #inside{
  background-color:rgb(3, 3, 16);
}
button{
  height:40px;
  width:86px;
  background-color: green;
  color:white;
  padding:4px 5px;
  border-radius:3px;
  transition:transform 0.2s ease-in-out;

}
button:active{
  transform:scale(0.9)
}
.final{
  background-color: white;
  display:flex;
  align-items:center;
  justify-content:center;
}
#inside{
  display:flex;
  gap:10px;
  flex-direction:column;
}
#inside img{
  height:250px;
  width:450px;
} */
 .main{
  background-color: rgb(123, 177, 123);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
  color:#ffff;

 }
 div #right{
  text-decoration:none;
  display:flex;
  gap:20px;
  color:#ffff;
 }
 div #right a{
  text-decoration:none;
  color:white;
 }
h1{
  position: absolute;
  font-size: 70px;
  font-weight: 600;   /* fixed */
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

}